.container-main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh
}

.container-main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 60px 60px 0 0;
    top: 120px;
    position: absolute;
    width: 100%;
    padding: 50px 50px 20px 50px;
    min-height: calc(100vh - 120px);
   
}

.container-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    margin: 26px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 57px;
}

.right-side button {
    width: auto;
    margin-top: 16px;
}
