.logo {
    position: absolute;
    top: 40px;
    left: 50px;
    height: 40px;
}

.inputs-container {
    display: flex;
    width: 100%;
    margin-top: 24px;
    flex-direction: column;
}

.inputs-container label {
    color: #484848;
    margin-bottom: 8px;
    font-family: 'Rubik', sans-serif;
}