.outside-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(61, 61, 61, 0.48);
    width: 100vw;
    height: 100vh;
}

.options-box {
    display: flex;
    width: 100%;
    color: white;
}

.option-in {
    background-color: #3A9FF1;
}

.option-out {
    background-color: #FF576B;
}

.option-off {
    background-color: #B9B9B9;
}
