.container-table {
    width: 100%;
    min-width: 800px;
    min-height: 500px;
    font-family: 'Lato', sans-serif;
}

.table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    height: 58px;
    border-radius: 10px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    padding: 0 24px;
    font-size: 16px;
}

.table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    height: 56px;
    margin-top: 8px;
    padding: 0 24px;
}

.table-column-big {
    text-align: center;
    width: 25%;
}

.table-column-middle {
    text-align: center;
    width: 12%;
}
.table-column-small {
    width: 10%;
    text-align: center;
}

.date-column {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: start;
}

.date-column img {
    width: 12px;
    margin-top: 4px;
}

.date-column strong {
    margin-right: 4px;
}

.hand-buttons img {
    cursor: pointer;
}
 
.positive-value {
    color: #7861FF;
    font-weight: bold;
    font-family: 'Lato, sans-serif';
}

.negative-value {
    color: #FA8C10;
    font-weight: bold;
    font-family: 'Lato, sans-serif';
}