.container-signUp {
    background-image: url(../../assets/background.png);
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 100px 0;
    background-size: cover;
    justify-content: center;
    position: relative;
    align-items: center;
    display: flex;
    font-family: 'Rubik', sans-serif;
}

.content-signUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.content-signUp form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    min-height: 420px;
    padding: 40px 24px;
    background-color: white;
}

.content-signUp h2 {
    font-weight: 500;
    color: #7978D9;
}

.content-signUp form button {
    margin-top: 52px
}

.content-signUp form a {
   
    font-family: 'Lato', sans-serif;
    margin-top: 12px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none
}